<div class="begin-modal">
  <div class="modal-content">
    <h2>Welcome to the Multi-Part Modal Example!</h2>
    <div class="modal-footer">
      <button phx-click="close-modal">Next</button>
    </div>
  </div>
</div>
